body{
}

.App {
  margin: 50px;
  margin-top: 100px;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0px;
  background-color: rgb(16, 170, 247);
  color: white;
  width: 100%;
  font-weight: 500;
  padding: 15px 0px 15px 100px;
  font-size: 1.2em;
}

.flagImg {
  max-width: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.countriesListRow {
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 40px;
}